<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="script2.js"></script>

    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" id="txtNombre" /></td>
        </tr>

        <tr>
            <td><label>Telefono:</label></td>
            <td><input type="text" id="txtTelefono" /></td>
        </tr>

        <tr>
            <td><label>Email:</label></td>
            <td><input type="text" id="txtEmail" /></td>
        </tr>

        <tr>
            <td><label>Direccion</label></td>
            <td><input type="text" id="txtDireccion" /></td>
        </tr>


    </table>
    <button id="btnGuardar">Guardar</button>

    <div id="contenedor"></div>

</body>
</html>