.contenedor {
    border: 2px dashed black;
    padding: 5px 20px;
    background-color: #b9ffe1;
    color: #002d2c;
    font-family: cursive;
    width:600px;
    margin:auto;
}

body{
    background: #253e37;
}